<!DOCTYPE html>
<html>
<head>
	<title>Gauntlet</title>
</head>
<body>
	{% load static %}
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta charset="UTF-8">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" rel="stylesheet">
	<link href="{% static 'css/app.css' %}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<section class="index" id="main">
		<div class="top-bar top-bar-right">
			<p><a href="{% url 'logout' %}">Logout</a></p>
		</div>
		<div class="index-content wrapper">
			<h1>G</h1>
			<div class="username">
				{% if user.is_superuser %}
					<p>Welcome to your dashboard, <span>{{ user.username }}</span>.</p>
				{% else %}
					<p>Welcome to your dashboard, <span>{{ user.first_name }}</span>.</p>
				{% endif %}
			</div><!-- Create New Form -->
			<form action="{% url 'create-doc' %}" id="create-form-index" method="post" name="create-form-index">
				{% csrf_token %} <input autofocus="" maxlength="25" name="name" required="" type="text"> <input name="create" type="submit" value="Create New">
			</form><!-- List Current Documents -->
			<div class="current-docs">
				<h4>Your current documents:</h4>
				<ul>
					<li style="list-style: none">{% for document in documents %}</li>
					<li>
						<a href="{% url 'read' document.pk %}">{{ document.title }}</a>
					</li>
					<li style="list-style: none">{% empty %}</li>
					<li>No documents.</li>
					<li style="list-style: none">{% endfor %}</li>
				</ul>
			</div>
		</div>
	</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.0.3/what-input.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js">
	</script>
	<script src="{% static 'js/app.js' %}">
	</script>
</body>
</html>
